<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
              background-color: lightblue;
        }

        h1 {
              color: white;
              text-align: center;
        }

        p {
              font-family: verdana;
              font-size: 20px;
        }
    </style>
    <title>Python</title>
</head>
<body>
    <h1>Example 5.2</h1>
    <h2>{{p1}}</h2>
    <h2>{{p2}}</h2>
    <h2>{{p3}}</h2>

    <h1>Example 5.2</h1>
    <h2>{{p1|floatformat}}</h2>
    <h2>{{p2|floatformat}}</h2>
    <h2>{{p3|floatformat}}</h2>

    <h1>Example 5.2</h1>
    <h2>{{p1|floatformat:3}}</h2>
    <h2>{{p2|floatformat:3}}</h2>
    <h2>{{p3|floatformat:4}}</h2>

</body>
</html>